.root {
  display: grid;
  grid-template-areas:
    "sidebar topbar topbar topbar"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";

  grid-template-rows: min-content auto auto auto;
  grid-template-columns: min-content auto auto auto;
}